<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.program.moist.dao.infoEntities.CategoryDao">
    <resultMap id="categoryMap" type="com.program.moist.entity.infoEntities.Category" autoMapping="true">
    </resultMap>

    <select id="getAll" resultMap="categoryMap">
        select * from Category
    </select>
    <select id="getTopCate" resultMap="categoryMap">
        select  * from category
        where parent_cate_id = 0;
    </select>
</mapper> 