<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.program.moist.dao.infoEntities.InformationDao">
    <resultMap id="infoMap" type="com.program.moist.entity.infoEntities.Information" autoMapping="true">
    </resultMap>

    <select id="getById" resultMap="infoMap">
        select * from information
        where info_id = #{infoId};
    </select>
    <select id="getByArea" resultMap="infoMap">
        select * from information
        where area = #{area};
    </select>
    <select id="getByUserId" resultMap="infoMap">
        select * from information
        where user_id = #{userId};
    </select>
    <select id="getByIds" resultMap="infoMap">
        select * from information
        where info_id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>
    <select id="getByPage" resultMap="infoMap">
        select * from information
        where ${name} = #{value}
    </select>
    <delete id="delete">
        delete from information
        where info_id = #{info_id};
    </delete>
    <delete id="deleteByUserId">
        delete from information
        where info_id = #{info_id} and user_id = #{user_id};
    </delete>
</mapper>