<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.program.moist.dao.person.UserDao">
    <resultMap id="userMap" type="com.program.moist.entity.person.User" autoMapping="true">
    </resultMap>

    <select id="getByIds" resultMap="userMap">
        select user_name, user_avatar, user_id from user
        where user_id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </select>

    <select id="checkByPhone" resultType="Integer">
        select count(phone_number) from user
        where phone_number = #{phone};
    </select>
    <select id="checkByEmail" resultType="Integer">
        select count(*) from user
        where email = #{email};
    </select>
    <select id="checkByIN"  resultType="Integer">
        select count(*) from user
        where identify_number = #{IN}
    </select>

    <select id="getUser" resultMap="userMap">
        select user_name, user_avatar, user_id from user
        where user_id = #{userId}
    </select>

    <update id="updateColumnById">
        update user set ${name} = #{value}
        where user_id = #{id}
    </update>
</mapper> 