<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.program.moist.dao.person.UserDao">
    <resultMap id="userMap" type="com.program.moist.entity.person.User" autoMapping="true">
    </resultMap>

    <select id="getByIds" resultMap="userMap">
        select * from user
        where user_id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </select>
</mapper> 